.header {
  margin: 0px;
  height: 20vh;
  background-color: rgb(245,245,245);
}

.middle {
  background-color: rgb(38,38,38);
}

  h1 {
    color: rgb(245,245,245);
    text-align: left;
    font-family: 'Gill Sans';
    font-style: bold;
    font-size: 60px;
    float: left
  }
  
  img {
    display: block;
    float: right;
    width: 40%;
  }
  
  p1 {
    margin: 70px;
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 20px;
    padding: 70px;
    float: left
  }

  h2 {
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 25px;
    float: bottom
  }
  
  ul{
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 20px;
    float: bottom
  }

  h3 {
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 25px;
    float: bottom
  }


.footer {
  margin: 0px;
  height: 20vh;
  background-color: rgb(245,245,245);
  }