

body {
    background-color: rgb(19, 4, 4);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }