
body {
    background-color:rgb(38, 38, 38);
  }
  
  h1 {
    color: rgb(245,245,245);
    text-align: center;
    font-family: 'Gill Sans';
    font-style: bold;
    font-size: 60px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p1 {
    color:rgb(245,245,245);
    text-align: center;
    font-family: 'gill sans';
    font-size: 20px;
    padding: 70px;
  }

  h2 {
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 25px;
  }
  
  ul{
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 20px;
  }

  h3 {
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'gill sans';
    font-size: 25px;
  }

  p2{
    color:rgb(245,245,245);
    text-align: left;
    font-family: 'Gill Sans';
    font-size:20px;
    border-style: outset;
  }