*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
  font-family: 'Optima';
  background: #202020;
  color: #e2e2e2;
}

.portfolio{
  margin-top: 20%;
  margin-bottom: 20%;
}

.portfolio-img{
  display: block;
  width: 50%;
  float: left
  padding: 50px;
}

.portfolio-description h6{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 50%;
  color: #e2e2e2;
}

.portfolio-description h1{
  font: helvetica;
  font-size: 35px;
  font-style: bold;
  color: #e2e2e2;
}

