*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    background: #202020;
    color: rgb(245,245,245);
  }

  .homepage h1{
    font-size: 50px;
    text-align: left;
    padding-top: 10px;
    padding-left: 50px;
  }
  
  .second-row {
    overflow: hidden;
    background-color: rgb(38,38,38);
    padding-right: 50px;
    padding-bottom: 30px;
  }

  .second-row a {
    float: right;
    display: block;
    color: rgb(245,245,245);
    text-align: center;
    padding-right: 20px ;
    text-decoration: none;
  }

  .second-row a:hover {
    color: rgb(211, 155, 2);
  }

  .third-row{
    display: flex;
  }

  .column {
    flex: 50%;
    padding: 5px;
  }
  