body {
    background: rgb(245,245,245);
    }
    
    header {
      color: #202020;
      background-color: rgb(245,245,245);
      text-align: center;
      font-family: 'DK_Kitsune';
      font-size: 30px;
      height:60px;
    }
 
 
    .top-row {
      align-content: center;
    }
  
    .second-row {
      overflow: hidden;
      background-color: rgb(245,245,245);
      padding-right: 50px;
      padding-bottom: 30px;
    }
  
    .second-row a {
      float: right;
      display: block;
      color: rgb(38, 38, 38);
      text-align: center;
      padding-right: 40px ;
      text-decoration: none;
    }
  
    .second-row a:hover {
      color: rgb(211, 155, 2);
    }
  
    .second-third-row h6{
    font-size: 20px;
    text-align: center;
    color: rgb(245,245,245);
    padding-top: 20px;
    padding-bottom: 20px;
    }
  
    .third-row{
      display: flex;
    }

    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 350px;
      width: 350px;
    }

    #p2 {
        text-align: center;
    }

    #container {
        background-color: rgb(245,245,245);
        color: #202020;
        font-family: Helvetica;
        height: 600px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid  rgb(157, 157, 157);
    }

    #container2 {
        background-color: rgb(245,245,245);
        color: #202020;
        font-family: Helvetica;
        height: 600px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid  rgb(157, 157, 157);
    }
  
    #nav {
      width: 180px;
      float: left;
      padding-top: 100px;
      padding-left: 30px;
      padding-right: 0px;
    }
  
    #main {
      width: 600px;
      float: right; 
      color: rgb(38, 38, 38);
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      padding-top: 150px;
      padding-left: 0px;
      padding-right: 30px;
    }
  
  
    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

    footer {
      clear: both;
      background-color: #202020;
      font-size: 30px;
      height:200px;
    }
  
    .row {
        display: flex;
      }
      
      .column {
        flex: 50%;
        padding: 20px;
      }
  