body {
    background: rgb(245,245,245);
    }
 
      
    html{
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      background: rgb(245,245,245);
      color: rgb(245,245,245);
  }

    .top-row {
      align-content: center;
    }
  
    .second-row {
      overflow: hidden;
      background-color: rgb(245,245,245);
      padding-right: 50px;
      padding-bottom: 30px;
    }
  
    .second-row a {
      float: right;
      display: block;
      color: rgb(38, 38, 38);
      text-align: center;
      padding-right: 40px ;
      padding-top: 0px;
      text-decoration: none;
    }
  
    .second-row a:hover {
      color: rgb(211, 155, 2);
    }

    
    .second-third-row h6{
    font-size: 20px;
    text-align: center;
    color: rgb(245,245,245);
    padding-top: 20px;
    padding-bottom: 20px;
    }


    .second-third-row a {
      float: right;
      display: block;
      color:rgb(245,245,245);
      text-align: center;
      padding-right: 40px ;
      text-decoration: none;
    }
  
    .second-third-row a:hover {
      color: rgb(211, 155, 2);
    }
  
    .third-row{
      display: flex;
    }


  .column {
    flex: 50%;
    padding: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(38, 38, 38);
  }
  
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 430px;
      width: 430px;
    }


    #container {
      background-color: rgb(245,245,245);
      color: #202020;
      font-family: Helvetica;
      height: 600px;
      width: 1100px;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid  rgb(157, 157, 157);
  }


    #container2 {
        background-color: rgb(245,245,245);
        color: #202020;
        font-family: Helvetica;
        height: 800px;
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid  rgb(157, 157, 157);
    }

  
    #nav {
      width: 180px;
      float: left;
      padding-top: 100px;
      padding-left: 30px;
      padding-right: 0px;
    }
  
    #main {
      width: 600px;
      float: right; 
      color: rgb(38, 38, 38);
      font-family: Verdana,sans-serif;
      line-height: 1.5;
      font-size: 18px;
      padding-top: 75px;
      padding-left: 20px;
      padding-right: 0px;
      text-align: left;
      letter-spacing: 3px;
    }
  

    h1 {
      font: "Verdana,sans-serif";
      font-size: 30px
    }
  
    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

    footer {
      clear: both;
      background-color: #202020;
      font-size: 30px;
      height:200px;
    }
  
    .row {
        display: flex;
      }
      
      .column {
        flex: 50%;
        padding: 20px;
      }
  