body {
    background: #c2c2c2;
    }
    
    header {
      color: #202020;
      background-color:#c2c2c2;
      text-align: center;
      font-family: 'DKKitsuneTail-Regular';
      font-size: 30px;
      height:60px;
    }
    
  
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 350px;
      width: 350px;
    }

  
    #nav {
      width: 180px;
      float: left;
      padding-top: 100px;
      padding-left: 30px;
      padding-right: 0px;
    }
  
    #main {
      width: 600px;
      float: right; 
      color: #e2e2e2;
      font-family: Helvetica;
      font-size: 20px;
      padding-top: 150px;
      padding-left: 0px;
      padding-right: 30px;
    }
  
  
    footer {
      clear: both;
      background-color: #202020;
      font-size: 30px;
      height:200px;
    }
  
  header {
    color: #202020;
    background-color:#c2c2c2;
    text-align: center;
    font-family: 'DKKitsuneTail-Regular';
    font-size: 30px;
    height:60px;
  }
  

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
  }


  #container {
    background-color: #202020;
    color: #e2e2e2;
    font-family: Helvetica;
    height: 600px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }


  #nav {
    width: 180px;
    float: left;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 0px;
  }

  #main {
    width: 600px;
    float: right; 
    color: #e2e2e2;
    font-family: Helvetica;
    font-size: 20px;
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 30px;
  }


  footer {
    clear: both;
    background-color: #202020;
    font-size: 30px;
    height:200px;
    margin-top: 2.5rem;
    border-top: 1px solid #916a70;
    padding-top: .875rem;
    padding-bottom: 0;
  }
    